@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Poppins:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #ffffff;
  color: #242635;
  font-size: 1.1em;
  line-height: 1.5;
  text-align: center;
  padding: 1em;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1, h2, h3 {
  margin: 0;
  padding: 1em 0;
}

p {
  margin: 0;
  padding: 1em 0;
}

/* Nav Section */
/* header */
.img-logo{
  max-width: 1.5em;
  margin: auto;
  border-radius: 50%;
}

.header {
  box-shadow: 1px 1px 4px 0 rgba(57, 25, 198, 0.1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  color: #242635;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  color: #242635;
}

.header li a {
  display: block;
  padding: 20px 20px;
  color: #242635;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #5C7CFA;
  color: #fff;
}

.header .logo {
  font-family: "Aldrich", sans-serif;
  display: block;
  float: left;
  font-size: 1em;
  padding: 10px 20px;
  text-decoration: none;
  color: #242635;
  
}

/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: block;
  float: right;
  right: 2rem;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #242635;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #242635;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 8px;
}

.header .menu-icon .navicon:after {
  top: -8px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 300px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}


/* Section A */
#section-a {
  
  color: #242635;
  padding-bottom: 2em;
  
}

#section-a .content-title {
  margin-top: 8em;
}
#section-a .content-text {
  padding: 1em;
}

/* Section B */
#section-b {
 padding: 2em 1em 1em;
}

/* Media Queries */
@media (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;

  }

  .header li {
    float: left;
    
  }
  .header li a {
    padding: 20px 30px;
  }

  .header .menu {
    clear: none;
    float: right;
    max-height: none;
    margin-right: 2em;
  }

  .header .menu-icon {
    display: none;
  }

  #section-a .content-text p {
    padding-top: 0;
  }

  .content-wrap, #section-b .card {
    grid-column: 2 / 4;
  }

  #section-b img {
    width: 100%;
    overflow: hidden;
  }
}